@page "/gameoverview"
@inherits GameOverviewBase

<h1 class="page-title">All games</h1>

@if (Games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Games)
            {
            <tr>
                <td>@game.Name</td>
            </tr>
            }
        </tbody>
    </table>
}
